<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cliente.appsamblea" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.Login"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".Activities.Perfil"
            android:label="@string/title_activity_perfil" >
        </activity>
        <activity
            android:name=".Activities.ModificarPerfil"
            android:label="@string/title_activity_modificar_perfil" >
        </activity>
        <activity
            android:name=".Activities.EditarPerfil"
            android:label="@string/title_activity_editar_perfil" >
        </activity>
        <activity
            android:name=".Activities.ProximasAsambleas"
            android:label="@string/title_activity_proximas_asambleas" >
        </activity>
        <activity
            android:name=".Activities.Asamblea"
            android:label="@string/title_activity_asamblea" >
        </activity>
        <activity
            android:name=".Activities.BuscarAsamblea"
            android:label="@string/title_activity_buscar_asamblea" >
        </activity>
        <activity
            android:name=".Activities.Organizacion"
            android:label="@string/title_activity_organizacion" >
        </activity>
        <activity
            android:name=".Activities.Grupo"
            android:label="@string/title_activity_grupo" >
        </activity>
        <activity
            android:name=".Activities.BuscarOrganizacion"
            android:label="@string/title_activity_buscar_organizacion" >
        </activity>
        <activity
            android:name=".Activities.Estadisticas"
            android:label="@string/title_activity_estadisticas" >
        </activity>
        <activity
            android:name=".Activities.OrdenDia"
            android:label="@string/title_activity_orden_dia" >
        </activity>
        <activity
            android:name=".Activities.Acta"
            android:label="@string/title_activity_acta" >
        </activity>
        <activity
            android:name=".Activities.Documentos"
            android:label="@string/title_activity_documentos" >
        </activity>
        <activity
            android:name=".Activities.Ponencia"
            android:label="@string/title_activity_ponencia" >
        </activity>
        <activity
            android:name=".Activities.InvitarAsistentes"
            android:label="@string/title_activity_invitar_asistentes" >
        </activity>
        <activity
            android:name=".Activities.TurnosPalabra"
            android:label="@string/title_activity_turnos_palabra" >
        </activity>
        <activity
            android:name=".Activities.CrearVotacion"
            android:label="@string/title_activity_crear_votacion" >
        </activity>
    </application>

</manifest>
